div#display {
  max-width: 840px;
}

body {
  font-size: 16pt;
}

@media screen and (max-width: 600px) {
  body {
    font: 8pt Helvetica, sans-serif;
  }
}

div.frame {
  border: solid thin silver;
  border-radius: 8px;
  padding: 8px;
  margin-bottom: 5px;
}

div.button-bar > button {
  width: 7.5em;
}

div.act-bar {
  margin-top: 0;
  margin-bottom: 1em;
}

div.act-bar > button {
  background-color: rgba(255, 0,0, 0.3);
}

div.row {
  font-family: Consolas, Menlo, "courier new", monospace;
}

textarea {
  margin: 0;
  width: 100%;
  height: 40vh;
  font-size: small;
}