body {
    font-family: Helvetica, Arial, Verdana, sans-serif;
}

.main {
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: calc(100% - 2rem);
    border: solid 0.5rem #ddd;
    border-radius: 1rem;
    height: 85vh;
}
.display {
    width: 100%;
    height: inherit;
}
svg {
    width: 100%;
    height: inherit;
}
.ST {
    fill:white;
    stroke: black; 
}
.FG {
    fill: #ffff99;
    stroke: blue;
    cursor: pointer; 
}
.RM {
    fill: #ff99ff;
    stroke: green;
    cursor: pointer; 
}
.optxt {
    font-size: 3.2px;
    fill: white;
}
.store {
    font-size: 3px;
}

path#links {
    transform: translate(5px, 2.5px);
}