body {
    font-family: Helvetica, Arial, Verdana, sans-serif;
}
h3 {
    margin: 1.5rem 0 0.4rem;
}
.main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: calc(100% - 2rem);
    border: solid 0.5rem #ddd;
    border-radius: 1rem;
    /* height: 85vh; */
}
.info p {
    display: block;
    text-align: right;
    margin-right: 2rem;
    font-weight: bold;
}
.info span {
    display: inline-block;
    width: 40%;
    font-weight: normal;
}
.orderGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    width: 100%;
    text-align: right;
    line-height: 1.5rem;
}
.macGrid {
    display: grid;
    grid-template-columns: 1fr 3rem 4rem 1fr 1fr;
    width: 100%;
    text-align: right;
    line-height: 1.5rem;
}
.macGrid select  {
    height: 1.5rem;
    padding: 0 5px;
}
.resources, .orders {
    width: calc(100% - 2rem);
    border: solid thin silver;
    text-align: right;
    padding-right: 1rem;
}
.resources p, .orders p {
    border: solid thin silver;
    padding: 0.1rem 0.4rem 0.1rem 0;
    margin: 0;
}
.display {
    width: 100%;
    height: inherit;
}
svg {
    width: 100%;
    height: inherit;
    max-height: 90vh;
    overflow: visible;
    margin-left: 1.8rem;
}
text.row, text.col {
    font-size: 3px;
    fill: silver;
}
.ST {
    fill:white;
    stroke: black; 
}
.FG {
    fill: #ffff99;
    stroke: blue;
    cursor: pointer; 
}
.RM {
    fill: #ff99ff;
    stroke: green;
    cursor: pointer; 
}
.optxt {
    font-size: 3.2px;
    fill: white;
}
.store {
    font-size: 3px;
}

path#links {
    transform: translate(5px, 2.5px);
}