body {
  background: #000; /* #090;*/
  color: #fff; /* #fcf;*/
}
.display {
	/*font-family: Helvetica,Arial,sans-serif;*/
  width: 100%;
	font-family: Courier new, monospace, sans-serif;
	font-size: 2.4em;
	line-height: 1.4;
	color: #fff; /* #fcf;*/
	overflow: hidden;
}
#speech {
	position: absolute;
	margin-left: 12%;
}
p {
	margin: .5em;
}
/*.line {}*/
.slide {
	text-align: center;
	margin: 0;
}
div.text {
  white-space: pre; 
}
div.char1 { color: #99ff99; }
div.cha21 { color: #ff9999; }
div.char3 { color: #9999ff; }
